@import '@/styles/mixin';
@import '@/styles/form';


@include desktop {

  .addressForm {
    .inputBox {
      display: flex;
      width: 100%;

      input {
        margin-right: 10px;
      }
    }
  }

}


@include tablet {
 
  .addressForm {

    .inputBox {
      input {
        margin-bottom: 10px;
        
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

}



@include mobile {

  .addressForm {
    .inputBox {
      input {
        margin-bottom: 10px;
        
        &:last-of-type {
          margin-bottom: 0;
        }
      }

    }
  }
}
